/* App.css */

.App {
  display: flex;
  height: 100vh;
}

.Sidebar {
  flex: 1; /* Sidebar가 1:1 비율로 차지하도록 설정합니다. */
}

.MapContainer {
  flex: 3;
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  background-color: aqua;
}

#map {
  width:  1000px;
  height: 700px;
}